@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.main-area{
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo-container{
    position: relative;
    width: 100%;
    text-align: center;
}

.logo-container .logo{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
}

.wacs-container{
    font-family: 'Poppins', sans-serif; 
    position: relative; 
    width: 100%; 
    padding-left: 20%;
}

/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
    .wacs-container{
        padding-left: 10%;
    }
}

/* Styles for screens smaller than 480px */
@media (max-width: 480px) {
    .wacs-container{
        padding-left: 5%;
        padding-top: 40%;
    }
}

.wacs-container .wacs{
    position: absolute; 
    height: auto; 
    text-align: left; 
    top: 250px;
}

h1{
    font-size: 70px;
}

/* Styles for screens smaller than 480px */
@media (max-width: 480px) {
    h1{
        font-size: 50px;
    }
}

.footer-container .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #BFBFBF;
 }
